@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --electric-violet-50: #f6f3ff;
  --electric-violet-100: #eeeafd;
  --electric-violet-200: #e0d7fd;
  --electric-violet-300: #c9b7fb;
  --electric-violet-400: #af8ef7;
  --electric-violet-500: #9660f2;
  --electric-violet-600: #873fe8;
  --electric-violet-700: #823cd7;
  --electric-violet-800: #6525b2;
  --electric-violet-900: #542092;
  --electric-violet-950: #341263;
}
